@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .transition-global {
    transition: all 1.3s;
  }
  .header-bg-elipse-1 {
    background: rgba(63, 100, 233, 0.43);
    filter: blur(150px);
    width: 570px;
    height: 180px;
  }
  .header-bg-elipse-2 {
    background: rgba(233, 63, 63, 0.43);
    filter: blur(130px);
    width: 570px;
    height: 264px;
  }
  .header-bg-elipse-3 {
    background: rgba(255, 184, 0, 0.43);
    filter: blur(130px);
    width: 570px;
    height: 140px;
  }
  .primaryBtnLight {
    background: var(--Gradient-Dark-Gradient, linear-gradient(180deg, #1a1a1a 0%, #131313 100%));
    box-shadow: 0px 7px 4px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(255, 255, 255, 0.08) inset, 0px 1px 2px 0px rgba(255, 255, 255, 0.02) inset;
  }
  .secondaryButtonDark {
    background: var(--Basic-Onyx, #181818);
  }
  .clicktext::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px; /* Adjust this value to control the position of the arrow */
    border: solid transparent;
    border-width: 10px;
    border-top-color: #ccc; /* Change this to match your background color */
    z-index: 10;
  }
}
