@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .transition-global {
    transition: all 1.3s;
  }
  .header-bg-elipse-1 {
    background: rgba(63, 100, 233, 0.43);
    filter: blur(150px);
    width: 570px;
    height: 180px;
  }
  .header-bg-elipse-2 {
    background: rgba(233, 63, 63, 0.43);
    filter: blur(130px);
    width: 570px;
    height: 264px;
  }
  .header-bg-elipse-3 {
    background: rgba(255, 184, 0, 0.43);
    filter: blur(130px);
    width: 570px;
    height: 140px;
  }
  .primaryBtnLight {
    background: var(--Gradient-Dark-Gradient, linear-gradient(180deg, #1a1a1a 0%, #131313 100%));
  }
  .secondaryButtonDark {
    background: var(--Basic-Onyx, #181818);
  }
}
