@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .header-bg-elipse-1 {
    background: rgba(63, 100, 233, 0.43);
    filter: blur(150px);
  }
  .header-bg-elipse-2 {
    background: rgba(233, 63, 63, 0.43);
    filter: blur(150px);
  }
  .header-bg-elipse-3 {
    background: rgba(255, 184, 0, 0.43);
    filter: blur(150px);
  }
}
